<?xml version="1.0" encoding="utf-8" ?>
<LightCoreConfiguration xmlns="clr-namespace:LightCore.Configuration;assembly=LightCore.Configuration">
  <LightCoreConfiguration.Registrations>
    <!-- Registrations -->
    <Registration ContractType="Ottobus.Core.Ayarlar.IGenelAyarlar, Ottobus.Core"
                  ImplementationType="Ottobus.Core.Ayarlar.GenelAyarlar, Ottobus.Core"/>
    <Registration ContractType="Ottobus.DataLayer.Oturum.IOturumFabrikasi, Ottobus.DataLayer"
                  ImplementationType="Ottobus.DataLayer.Oturum.OturumFabrikasi, Ottobus.DataLayer"/>
  </LightCoreConfiguration.Registrations>
</LightCoreConfiguration>